# Backend API chính của Ztruyện
NEXT_PUBLIC_API_URL=

# API OTruyen và tài nguyên truyện/chương
NEXT_PUBLIC_API_OTRUYEN_URL=
NEXT_PUBLIC_API_URL_CHAPTER_OUT_SIDE=
NEXT_PUBLIC_API_OTRUYEN_IMAGE_COMIC=

# URL frontend và tài nguyên ảnh
NEXT_PUBLIC_YOUR_WEBSITE=
NEXT_PUBLIC_IMG_URL=

# Discord widget
NEXT_PUBLIC_DISCORD_ID=

# Cloudflare Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=

# Google Search Console và Google Analytics
NEXT_PUBLIC_VERIFICATION_GOOGLE=
NEXT_PUBLIC_GA_ID=

# Firebase Cloud Messaging
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_VAPID_KEY=
